<mat-toolbar color="'white'" role="heading"> 
  <mat-toolbar-row>
    <button mat-icon-button (click)=sidenav.toggle() *ngIf="(IS_HANDED | async ) ? true : false">
      <mat-icon>menu</mat-icon>
    </button> 
      <span routerLink="main" class="nav-link-inner mr-2 ml-2 span-link">  <mat-icon svgIcon="favicon"></mat-icon> Sistema SCADA </span>
      <div [hidden]="(IS_HANDED | async ) ? true : false">
        <button mat-button routerLink="file" routerLinkActive="btn-active" >Archivo</button>
        <button mat-button routerLink="settings" routerLinkActive="btn-active" >Configuraciones</button>
        <button mat-button routerLink="reports" routerLinkActive="btn-active" >Reportes</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer [opened]=false #sidenav >
    <mat-divider></mat-divider>
    <mat-icon>keyboard_backspace</mat-icon>
        <mat-nav-list #list>
          <mat-list-item><button mat-button routerLink="file" routerLinkActive="btn-active" >Archivo</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> <button mat-button routerLink="settings" routerLinkActive="btn-active" >Configuraciones</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> <button mat-button routerLink="reports" routerLinkActive="btn-active" >Reportes</button></mat-list-item>
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 96vh;" >        
    <router-outlet></router-outlet>  
  </mat-sidenav-content>
</mat-sidenav-container>
