@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("./toastr.css");

span,button:focus {
    outline: none;
}
.span-link{
    cursor: pointer;
}
.btn-active{
    background-color:silver !important;
}
mat-list-item:hover{
    background-color: silver !important;
}
.responsive-font{
    font-size:calc(0.75em + 0.15vmin);
}
.responsive-font-h{
    font-size:calc(1.50em + 0.15vmin);
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.div-center {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
body, html{
    font-family: "Roboto";
    height: 100% !important;
}
md-icon{
    font-family: 'Material Icons' !important;
}
.mt-2_5{
    margin-top: .25rem !important;
}
.mt-2_7{
    margin-top: .65rem !important;
}
.ml-4_5{
    margin-left: 1.75rem !important;
}
.mt-3_5{
    margin-top: 1.25rem !important;
}
.mt-4_5{
    margin-top: 1.75rem !important;
}
.pt-2_5{
    padding-top: .75rem !important;
}

.daterangepicker .drp-calendar.right {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.daterangepicker .drp-calendar.right tbody {
    display: none !important;
}

.daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
    display: none !important;
}

.daterangepicker .drp-calendar.right th.month {
    display: none !important;
}

.daterangepicker .drp-calendar.right .calendar-table {
    background: transparent !important;
}

.daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
    float: none !important;
}

.daterangepicker .drp-calendar.right .daterangepicker_input {
    position: absolute !important;
}
th::after{
    content: "" !important;
}
th::before{
    content: "" !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto; }

.icon-spacer {
    flex: 1 1 auto;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
 flex-basis: 0;
}

.mat-expansion-panel-header-description {
 justify-content: space-between;
 align-items: center;
}
.mat-form-field + .mat-form-field {
 margin-left: 8px;
}
.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
.aligned-with-icon-relative{
    position: relative;
    top: -5px;
    margin-left: 5px;
}
.with-icon {
    display: flex;
    align-items: center;
}

mat-sidenav, 
mat-sidenav.md-locked-open, 
mat-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 275px !important;
    min-height: 100% !important;
} 

.custom-sidenav-container { 
    position: inherit;
    height: 93%;
    display: inherit;
    transform: inherit; 
}

.heading-small{
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.form-control-label{
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}

.bg-secondary{
    background-color: #f7fafc !important;
}


  
