<div class="m-5 div-center">

    <h2 class="text-center ">Abrir Proyecto</h2>

    <div class="border pt-3 pl-3 mt-3 pb-2">
        <div class="row">
            <div class="col-8">
                <textarea class="my-auto content-XL font" style="resize: none; border:none;width:95.0%; font-size:calc(1em + 0.35vmin)"
                    readonly>Nombre</textarea>
                <textarea class="my-auto content font" style="resize: none; border:none;width: 100.0%; font-size:calc(0.75em + 0.15vmin)"
                    readonly>Contiene 1 controladores</textarea>
            </div>
            <div class="col-4 text-right pr-5 my-auto textarea ">
                <button id="{2}" class="btn btn-outline-success btnAbrir"><i
                        class="fas fa-download pr-1"></i>Abrir</button>
            </div>
        </div>
    </div>

</div>